name: autonomous_agent

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 5s
      timeout: 5s
      retries: 5

  agent:
    image: autonomous_agent:latest
    container_name: autonomous_agent_container
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app
    environment:
      - GIT_NAME=victoraboba
      - GIT_EMAIL=kuzminoff.victor@gmail.com
      - DEBUG=true
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs
    deploy:
      resources:
        reservations:
          devices:
            - driver: "nvidia"
              device_ids: [ "6" ]
              capabilities: [gpu]
        limits:
          cpus: "9.6"
          memory: 25.2gb
        
    restart: unless-stopped